@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body {
    background-color: #F6F4F3;
}

nav {
    background-color: white;
    height: 70px;
    width: 100%;
    box-shadow: 0 2px 4px 0px darkgray;
    position: sticky;
    top: 0;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 600;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    font-size: 17px;
    color: black;
    padding: 7px 25px;
  }
  
  .basic {
      width: 60%;
      height: 60vh;
      border-radius: 5px;
      background-color: white;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      box-shadow: 0 2px 4px 0px darkgray;
      display: flex;
  }

  div img {
    width: 256px;
    padding-left: 20px;
    padding-top: 20px;
  }

  div h4,p {
    display: inline;
  }

  .info div {
    padding-top: 30px;
    padding-left: 100px;
  }

  div p {
    font-weight: 400;
    padding-left: 15px;
  }

hr {
  width: 85%;
  margin: auto;
}

.all {
  width: 60%;
  height: 60vh;
  border-radius: 5px;
  background-color: #4B5043;
  color: #D3FFE9;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px 0px darkgray;
  display: flex;
}

.footer {
  width: 100%;
  height: 40vh;
  background-color: #090909;
  color: #4B5043;
  display: flex;
}

.contactme {
  width: 30%;
  text-align: center;
}

.aboutme {
  width: 40%;
  text-align: center;
}